<% if flash[:notice] %>
  <div class="alert alert-info"><%= flash[:notice] %></div>
<% end %>

<article>
  <h1><%= @article.title %></h1>
  <div class="d-flex">
    <%= link_to edit_article_path(@article), class: "fa-solid fa-pencil" %>
    <%= link_to article_path(@article), class: "fa-solid fa-trash-can" data: {turbo_method: "delete", turbo_confirm: "Are you sure?"} %>
  </div>
  <hr>
  <%= @article.content %>
</article>
